@import "tailwindcss";

@theme {
  --radius-sm: 0.3rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;

  --color-border: #27272a;       /* Zinc 800 */
  --color-input: #27272a;
  --color-ring: #6366f1;         /* Indigo 500 */
  --color-background: #09090b;   /* Zinc 950 */
  --color-foreground: #fafafa;   /* Zinc 50 */

  --color-primary: #6366f1;      /* Indigo 500 */
  --color-primary-foreground: #ffffff;

  --color-secondary: #27272a;    /* Zinc 800 */
  --color-secondary-foreground: #fafafa;

  --color-destructive: #7f1d1d;
  --color-destructive-foreground: #fef2f2;

  --color-muted: #18181b;        /* Zinc 900 */
  --color-muted-foreground: #a1a1aa; /* Zinc 400 */

  --color-accent: #27272a;
  --color-accent-foreground: #fafafa;

  --color-sidebar: #000000;      /* Pure Black */
  --color-sidebar-foreground: #a1a1aa;
  --color-sidebar-border: #27272a;
  --color-sidebar-accent: #27272a;
  --color-sidebar-ring: #6366f1;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground antialiased selection:bg-primary/30 selection:text-primary-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full border-[3px] border-solid border-background;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-700;
}